.accounts {
  position: relative;
}

.accounts form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.delete-btn {
  color: hsl(360, 71%, 66%);
  cursor: pointer;
}

.delete-btn:hover {
  color: var(--main-color-red);
}

.form-control {
  flex-grow: 1;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.form-control input {
  width: 50%;
}

.form-control button,
.modal button {
  outline: none;
  border: none;
  color: var(--txt-white);
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  font-weight: 600;
  padding: 15px 50px;
  height: 100%;
  letter-spacing: 1px;
}

.form-control button:hover,
.single-offer-input button:hover {
  background-color: var(--second-color);
}

@media (max-width: 768px) {
  .form-control {
    flex-wrap: wrap;
  }

  .form-control input {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .form-control {
    width: 90%;
  }
}

.accounts input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.accounts label {
  cursor: pointer;
  text-indent: -9999px;
  width: 90px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.accounts label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.accounts input:checked + label {
  background: var(--main-color);
}

.accounts input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.accounts label:active:after {
  width: 130px;
}

.modal {
  width: 250px;
  height: 200px;
  box-shadow: var(--box-shadow);
  display: grid;
  place-items: center;
  position: absolute;
  right: 5%;
  top: 1%;
  padding: 20px;
  padding-bottom: 40px;
  background-color: var(--main-bg);
  align-items: center;
  transform: scale(0);
  transition: transform 0.2s;
  border-radius: var(--border-radius);
}

.modal form {
  display: grid;
  place-items: center;
  margin-bottom: 0;
  gap: 0;
}

.modal input {
  margin-top: 10px;
  margin-inline: 0;
  width: 100%;
}

.modal i {
  font-size: 1.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.modal i:hover {
  color: var(--second-color);
}

.modal button {
  margin-top: 15px;
  padding: 5px 20px;
  text-transform: capitalize;
}

.modal button:hover {
  background-color: var(--second-color);
}

.modal p {
  width: 100%;
  text-align: left;
}

@keyframes blowUpContent {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal.show {
  transform: scale(1);
  animation: 0.5s blowUpContent;
}
