.expand-btn {
  color: var(--main-color);
  cursor: pointer;
  user-select: none;
}

.expand-btn:hover {
  color: var(--second-color);
}

.sort_filter_div span {
  vertical-align: middle;
  margin-right: 15px;
}

.sort_filter_div span i {
  font-size: 1.5rem;
  cursor: pointer;
}

.sort_filter_div span i:hover {
  color: var(--second-color);
}

.card__body.inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.activate-del {
  color: var(--second-color);
}

.activated_sel {
  color: var(--main-color-red);
  cursor: pointer;
}

.selected_item {
  background-color: var(--second-bg);
}

.blur {
  filter: blur(3px);
  user-select: none;
  pointer-events: none;
}

tr:hover > .show-image {
  transform: scale(1);
  transition-property: transform;
  transition-delay: 1s;
  z-index: 10;
}

.expand-btn:hover ~ .show-image {
  transform: scale(0);
  transition-delay: 0s;
}

tr:hover > .show-image:hover {
  transform: scale(0);
  transition-delay: 0s;
}

td.expand-btn:hover > .image-container {
  transform: scale(0);
}

.image-container {
  position: fixed;
  transform: scale(0);
  width: 250px;
  padding: 0;
  margin: 0;
  user-select: none;
}

.image-container img {
  width: 100%;
}
