.expand-btn {
  color: var(--main-color);
  cursor: pointer;
  user-select: none;
}

.expand-btn:hover {
  color: var(--second-color);
}

.sort_filter_div span {
  vertical-align: middle;
  margin-right: 15px;
}

.sort_filter_div span i {
  font-size: 1.5rem;
  cursor: pointer;
}

.sort_filter_div span i:hover {
  color: var(--second-color);
}

.card__body.inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.activate-del {
  color: var(--second-color);
}

.activated_sel {
  color: var(--main-color-red);
  cursor: pointer;
}

.selected_item {
  background-color: var(--second-bg);
}

.blur {
  filter: blur(3px);
  user-select: none;
  pointer-events: none;
}

tr {
  position: relative;
}

.image-container {
  position: fixed;
  width: 300px;
  display: none;
  /* transition: 0.5s; */
}

.image-container img {
  width: 100%;
}

.show-image {
  display: block;
}

@media (max-width: 400px) {
  .show-image {
    display: none;
  }
}
