.badge {
  padding: 0px auto;
  border-radius: 10px;
  /* margin: 0 auto; */
  font-size: 1.3rem;
  /* text-align: center; */
}

.badge-no {
  color: var(--main-color-red);
}

.badge-yes {
  color: rgb(5, 177, 5);
}
