.dialogue {
  position: fixed;
  display: grid;
  place-items: center;
  top: 15%;
  transition: 0.5s;
  width: 83%;
}

.dialogue-content {
  width: 60%;
  overflow-y: auto;
  background-color: var(--main-bg);
  min-height: 400px;
  max-height: 70vh;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: var(--border-radius);
}

@media (max-width: 980px) {
  .dialogue {
    width: 70%;
  }
  .dialogue-content {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .dialogue {
    width: 76%;
  }

  .dialogue-content {
    width: 100%;
  }
}

.single-offer h2 {
  font-weight: 600;
  font-size: 1.1rem;
}

.single-offer-acct {
  margin: 20px 0;
}

.single-offer-acct h3 {
  font-weight: 600;
}
