.layout {
  color: var(--txt-color);
  overflow-x: hidden;
  position: relative;
}

.layout__content {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 100vh;
}

.layout__content-main {
  padding: 10px 30px;
  overflow-x: hidden;
}

@media (max-width: 532px) {
  .layout__content-main {
    padding: 10px 1px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .layout__content {
    padding-left: 70px;
  }
}

.Toastify__toast {
  border-radius: 10px !important;
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif !important;
}
