.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  transition: width 0.5s var(--transition-cubic);
  z-index: 5;
}

.sidebar__logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  user-select: none;
}

.sidebar__logo2 {
  display: none;
  font-size: 1.2rem;
  height: 100px;
}

.sidebar__item-inner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.sidebar__item-inner i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.sidebar__item-inner > span {
  text-transform: capitalize;
  white-space: nowrap;
}

.sidebar__item-inner:hover {
  color: var(--main-color);
}

.sidebar__item-inner.active {
  border-radius: var(--border-radius);
  background: linear-gradient(to right, var(--main-color), var(--second-color));
  color: var(--txt-white);
}

@media (max-width: 767px) {
  .sidebar {
    width: 60px;
  }

  .sidebar_item {
    margin-top: 5px;
  }

  .sidebar__item-inner {
    padding: 15px 20px;
  }

  .sidebar__item-inner i {
    font-size: 1.2rem;
  }

  .sidebar__logo {
    display: none;
  }

  .sidebar__logo2 {
    display: grid;
    place-items: center;
    width: 60px;
  }

  .sidebar__item-inner > span {
    display: none;
  }

  .sidebar__item-inner > span.active {
    display: block;
    opacity: 1;
    animation: slowShow 0.5s;
    transform-origin: left center;
  }

  @keyframes slowShow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .sidebar_extend {
    position: fixed;
    width: 200px;
    right: 300px;
    height: 100vh;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    transition: width 0.5s var(--transition-cubic);
  }
}
